*{
    margin: 0px;
}
.main-container{
    width: 820px;
    height: 810px;
    /* border: 2px solid; */
    position: absolute;
    margin-left: 200px;
}
.sub1,.sub2{
    display: inline-block;
    width: 817px;
    height: 170px;
    /* border: 2px solid; */
    position: absolute; 
}
.child1,.child2,.child3,.child4,.child5,.child6,.child7,.child8{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 100px;
}
img{
    width: 100%;
}
span{
    background-color: black;
    padding: 3px;
}
h2{
    color: white;
    padding:1px;
    top: 210px;
    left: 320px;
    position: absolute;
}
h3{
    background-color: black;
    color: white;
    padding: 5px;
    top: 0px;
    position: absolute;
}